body{
  height: 100%;

  /* 300 = light, 400 = regular, 600 = semi-bold */
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;

  /*
  background-color: #35355C;
  */
  background: #F9F9F9;
  
  background-attachment: fixed;

  color: #222;
  font-size: 14px;

  padding-bottom: 50px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 50px;
}

code{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;
}

strong{
  font-weight: 600;
}

a:link {
  font-weight: 500;
  color: #303f9f;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #303f9f;
}
a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: #737B96;
}
a:active {
  text-decoration: none;
  font-weight: 500;
  color: #EEE;
}


blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  /*font-family: Georgia, serif;*/
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
/*  border-left: 15px solid #303f9f;
  border-right: 2px solid #303f9f;*/
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}



.centerer{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

h1.title{
  font-size: 5em;
  font-weight: 600;
  color: #FFF;

  /* chrome,safari only */
  /*
  background: -webkit-linear-gradient(top, #FFF 0%, #FFF 60%, #888 80%);
  background: linear-gradient(top, #FFF 0%, #FFF 60%, #888 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */

  /* margin */
  margin-bottom: 0.5em;
}

.slogan{
  font-size: 2em;
}

.phone
{
  width: 280px;
  height: 564px;
  background-image: url('../image/phone.png');

  /* position relative so screen can be absolute */
  position: relative;

  /* center align */
  margin: 0 auto; 
}

.screen{
  width: 256px;
  height: 453px;
  background-image: url('../imag/screensize.png');

  position: absolute;
  left: 12px;
  top: 54px;

  overflow: hidden;

}

.activity{
  width: 256px;
  height: 453px;

  position: absolute;
  left: 0px;
  top: 0px;

  margin-top: 0px;
}

.activity div{
  display: inline-block;
}

.activity div img{
  width: 100%;
  height: 100%;
}

/* android download button */
.btn-android {
  background-color: hsl(82, 74%, 26%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ccc1e", endColorstr="#4f7311");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8ccc1e), to(#4f7311));
  background-image: -moz-linear-gradient(top, #8ccc1e, #4f7311);
  background-image: -ms-linear-gradient(top, #8ccc1e, #4f7311);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ccc1e), color-stop(100%, #4f7311));
  background-image: -webkit-linear-gradient(top, #8ccc1e, #4f7311);
  background-image: -o-linear-gradient(top, #8ccc1e, #4f7311);
  background-image: linear-gradient(#8ccc1e, #4f7311);
  border-color: #4f7311 #4f7311 hsl(82, 74%, 21%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.content{
  font-size: 16px;
  color: #FFF;
  font-weight: 300;
}